@import './fonts.css';
@import './constants.scss';

*:not(code) {
  font-family: $fontFamily;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}