@import "../styles/constants.scss";

.home-header {
  background-color: $background;
  display: flex;
  height: 470px;

  .container {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
  }

  .intro {
    background-color: #fff;
    max-height: 100px;
    padding: 20px 70px 20px 25px;
    box-sizing: border-box;
    margin: 0;
    line-height: 30px;
    font-family: $fontFamilyRegular;
  }


  .picture {
    max-width: 500px;
    max-height: 500px;
    height: 440px;
    width: 440px;
    position: absolute;
    bottom: 0;
    right: 0;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.posts-container,
.about-container,
.experience-container {
  margin-top: 60px;
  position: relative;
  z-index: 1000;

  h3 {
    font-size: 28px;
  }

  .posts-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    grid-auto-flow: dense;
  }
}

.about-container {
  p {
    color: $secondaryColor;
    line-height: 30px;

    span {
      color: $color;
    }
  }
}