@import '../../styles/constants.scss';

.experience-item {
  display: flex;
  align-items: center;
  margin-bottom: 60px;

  .logistics {
    min-width: 160px;

    .location {
      color: $color;
    }

    .dates {
      margin-top: 7px;
      color: $secondaryColor;
    }
  }

  .details {
    display: flex;
    align-items: center;

    .pic {
      img {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        border: 2px solid #e4e4e4;
        padding: 2px;
      }
    }

    .role {
      margin-left: 25px;

      .description {
        color: $secondaryColor;
        line-height: 22px;

        .tag {
          color: $color;
        }
      }
    }

    .name {
      font-weight: bold;
      font-family: $fontFamilyRegular;
      margin-bottom: 10px;

      .company {
        color: $highlight;
        font-family: $fontFamilyRegular;
      }
    }

  }

  &.baseblock {
    img {
      object-fit: contain;
    }
  }

  .mobile {
    display: none;
  }
}

@media(max-width:576px) {
  .experience-item {
    flex-direction: column;
    align-items: flex-start;

    .logistics {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      .dates {
        margin: 0;
      }
    }

    .details {
      flex-direction: column;
      align-items: flex-start;

      .pic-container {
        display: flex;
        align-items: center;

        .name {
          margin-left: 20px;
        }
      }

      .role {
        margin: 0;
        margin-top: 20px;
      }
    }

    .mobile {
      display: block;
    }

    .desktop {
      display: none;
    }
  }
}